// app global css in SCSS form

.movie-list {
  padding: 16px;

  .q-input {
    margin-bottom: 20px;
  }
  .q-item {
    background-color: $item;
    border-radius: 10px;
    padding: 20px;
    border-color: #00acc1;
    margin-bottom: 8px;
  }

  .movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .q-item-label {
    margin-bottom: 8px;
  }

  .genre-container {
    background-color: $primary;
    color: $info;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    margin-left: auto;
  }

  .delete-btn {
    margin-top: 20px;
  }
}
